

<style>

  .footer {
    background: blue;
    color: white;
    height: 50px;
    width: 100%;
    margin: 0 auto;
    bottom: 0;
    
    display: flex;
    justify-content: space-around;
    background: linear-gradient(rgb(85, 85, 85), rgb(17, 17, 17));
    align-items: center;
    position: static;
}

</style>
   



 <div class="footer" style="background: #268efe;">
	<h6 style="text-align:center;color: #fff;">Copyright 2023</h6> 
  </div>

    