{% extends 'base.html.twig'%}



{% block body %}
    {% for article in article %}
    <div class="card mt-5">
        <div class="card-header alert alert-primary">
            <h2>{{article.titre}}</h2>
        </div>
        <div class="card-body">
            <h5 class="card-title pricing-card-title">{{article.description}}</h5>
            <p>{{article.Documentation}}</p>
        </div>
        <div class="card-footer">
            <h6>publié le : {{article.datepublication ? article.datepublication|date('d-F-Y')}}</h6>
        </div>
    </div>
    {% endfor %}

    <div class="text-center mb-4">
    
    <button class="btn btn-sm btn-primary text-center mb-4 mt-5" type="submit">Télecharger</button>
    
    </div>
    
{% endblock %}